html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #999999;
}

.form-signin {
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 60%;
    padding: 15px;
    margin: auto;
}