<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<div id="topo"></div>
		<div id="menu">
		   <a href="#" id="empresa">Empresa</a>
		   <a href="#" id="fotos">Fotos</a>
		   <a href="#" id="localizacao">Localização</a>
		   <a href="#" id="contato">Contato</a>
		</div>
		<div id="pages"></div>
		<div id="rodape">Rodape do site</div>
	</body>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
 
   $("#empresa").click(function(event){
      event.preventDefault();
      $("#pages").hide('slow').fadeIn('slow').load('empresa.php');
   });
 
   
 
});	
</script>
</html>